<div class="row">
  <!-- En pantallas medianas cada columna ocupa 3/12 -->
  <!-- En pantallas pequeñas cada columna ocupa 6/12 -->
  <div class="col-md-3 col-sm-6"*ngFor="let gif of listaGifs">
    <!-- card, para hacer "tarjetas" -->
    <!-- margin-botton 2 -->
    <!-- background dark -->
    <div class="card mb-2 text-center bg-dark" >
      <!-- TODO: Crear imagen -->
      <img class="card-img-top" [src]="gif.images.original.url" alt="Imagen Gif"/>
      <p class="card-title text-white">{{gif.title}}</p><!-- gif.user.display_name -->
    </div>
  </div>
</div>
